/* Navbar container */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 40px;
    padding-bottom: 5px;
    /* background-color: #1e1e1e; */
    color: rgb(0, 0, 0);
    /* border-bottom: 2px solid #646cff; */
    z-index: 1000;
  }
  
  .navname{
    margin: 2px;
    margin-right: 64px;
    font-family: Poppins,sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  .navicons{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .dot{
    color: blue;
  }
  
  /* Mobile Menu */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide links initially for mobile */
    }
  }
  