  .uscontainer {
    background-color: var(--background-color0);
  }
.scontainer {
    padding: 80px 20px;
    background-color: var(--background-color0);
    border-radius: 16px;
    max-width: 1000px;
    margin: 0px auto;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  }
  
  .skill-heading {
    font-size: 2.5rem;
    color: var(--nav-text);
    /* font-weight: bold; */
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skill-heading::before {
    content: "";
    width: 10px;
    height: 28px;
    background-color: #1e40af;
    margin-right: 12px;
    border-radius: 4px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
  }
  
  .skill-item {
    background-color: var(--background-trans);
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
  }
  
  .skill-item:hover {
    background-color: var(--backgroundSection);
    color: var(--text-color);
    /* border: 1px solid rgba(106, 106, 106, 0.519); */
    transform: translateY(-3px);
    cursor: default;
  }
  
  .skill-item span {
    color: #1e40af;
  }
  

  @media (max-width: 640px) {
    .scontainer {
      padding: 40px 16px;
    }
  
    .skill-heading {
      font-size: 1.75rem;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 20px;
    }
  
    .skill-item {
      font-size: 1rem;
      padding: 10px 14px;
      /* flex-direction: column; */
      align-items: center;
      gap: 6px;
    }
  }
  